.thumbnail{ padding: 0;}

.carousel-control, .item{
     border-radius: 4px;
 }

.caption{
    height: 130px;
    overflow: hidden;
} 

.caption h4
{
    white-space: nowrap;
}

.thumbnail img{
  width: 100%;
}

.ratings 
{
    color: #d17581;
    padding-left: 10px;
    padding-right: 10px;
}

.thumbnail .caption-full {
padding: 9px;
color: #333;
}

footer{
  margin-top: 50px;
  margin-bottom: 30px;
}